<mat-sidenav-container fullscreen [hasBackdrop]="!sidenavOpened">
    <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened">
        <mat-card ngClass="user-info" *ngIf="isLoggedIn()">
            <mat-card-header>
                <img src="{{ (user$|async)?.avatar }}" mat-card-avatar />
                <mat-card-title>{{ (user$|async)?.name }}</mat-card-title>
                <mat-card-subtitle>{{ (user$|async)?.activeSince | dateFormat }}</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-nav-list role="list">
            <mat-list-item routerLink="/" *ngIf="isLoggedIn()">
                <mat-icon>home</mat-icon> Home
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item (click)="logout();sidenav.toggle()" *ngIf="isLoggedIn()">
                <mat-icon>exit_to_app</mat-icon> Logout
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.toggle()" *ngIf="isLoggedIn() && !sidenavOpened">
                <mat-icon>menu</mat-icon>
            </button>
            <div fxLayout="column" fxLayoutAlign="center" fxFlex="100">
                <!-- <img src="assets/img/logo.png" /> -->
                <h1>{{ title|uppercase }}</h1>
            </div>
        </mat-toolbar>
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutGap.lt-md="0" fxLayoutAlign="center">
            <div fxFlex="50">
                <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>