@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Roboto:300,400,500');
@import "~@angular/material/theming";

@include mat-core();

$braying-theme-primary: mat-palette($mat-brown);
$braying-theme-accent: mat-palette($mat-brown, A200, A100, A400);
$braying-theme-warn: mat-palette($mat-red);

$braying-theme-dark: mat-dark-theme($braying-theme-primary, $braying-theme-accent, $braying-theme-warn);
$braying-theme-light: mat-light-theme($braying-theme-primary, $braying-theme-accent, $braying-theme-warn);

@include angular-material-theme($braying-theme-light);


p {
    word-break: break-all;
}

button[mat-fab] {
    width: 68px;
    height: 68px;
    .mat-button-wrapper {
        padding: 13px;
        img {
            width: 40px;
            height: 40px;
        }
    }
}

mat-sidenav {
    background-color: mat-color($mat-brown, 500) !important;
    border: none !important;
    a {
        color: mat-color($mat-brown, 100);
        padding: 20px;
        &:hover, &:focus {
            cursor: pointer;
            color: #333;
            background-color: mat-color($mat-brown, 300);
        }
    }
}